<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Rainbow</string>
	<string>Chasing Green</string>
	<string>Breathing Green</string>
	<string>Random Dots</string>
	<string>Chasing Rainbow</string>
	<string>Fade Rainbow</string>
	<string>Green Glob</string>
	<string>Fire!!</string>
	<string>Stars</string>
	<string>Moving Dots</string>
	<string>&apos;Murica!</string>
</array>
</plist>
